---
// SPDX-FileCopyrightText: 2021-2026 Roy Shilkrot <roy.shil@gmail.com>
// SPDX-FileCopyrightText: 2023-2026 Kaito Udagawa <umireon@kaito.tokyo>
//
// SPDX-License-Identifier: GPL-3.0-or-later

import { joinURL, withTrailingSlash } from "ufo";
import { Octokit, type RestEndpointMethodTypes } from "@octokit/rest";

import Layout from "../layouts/Layout.astro";

import { GITHUB_OWNER, GITHUB_REPO, PRODUCTION_BASE_URL, PLUGIN_TUTORIAL_YOUTUBE_COURSE_URL } from "../lib/info.js";

import GitHubMarkWhite from "../../public/github-mark-white.svg";

export type LatestRelease =
  RestEndpointMethodTypes["repos"]["getLatestRelease"]["response"]["data"];

const { BASE_URL } = import.meta.env;

async function getLatestRelease(): Promise<LatestRelease> {
  const octokit = new Octokit({ auth: import.meta.env.GITHUB_TOKEN });

  const latestRelease = await octokit.rest.repos.getLatestRelease({
    owner: GITHUB_OWNER,
    repo: GITHUB_REPO,
  });

  return latestRelease.data;
}

const release = await getLatestRelease();

const assetX64 = release.assets.find((e) => /windows-x64\.zip/.test(e.name));
if (!assetX64) throw new Error("Windows x64 asset not found!");
---

<Layout lang="en" title="Windows Installation Guide - Background Removal">
  <Fragment slot="head-info">
    <meta
      name="description"
      content="This page describes how Windows users can install the Background Removal plugin into their OBS Studio. Unzip the latest version of the plugin and copy obs-backgroundremoval folder into C:/ProgramData/obs-studio/plugins. Restart OBS Studio and Background Removal and Low-Light Enhancement filters will be available on the list of effect filters on any video sources."
    />
    <link
      rel="canonical"
      href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "windows"))}
    />
  </Fragment>

  <main class="white-box">
    <h1>Windows Installation Guide</h1>
    <p>How to use our Background Removal plugin on Windows</p>

    <aside
      class="alert-box prominent"
      aria-label="Important Notice for Windows Users"
    >
      <p>
        <strong>⚠️ NO Program Files:</strong>
        DO NOT install OBS plugins under <code>Program Files</code>.
        <strong>TOTALLY</strong> unsupported and will <strong>BREAK SOON</strong
        >.
        <a href="https://obsproject.com/kb/plugins-guide"
          >OBS Project's Plugins Guide</a
        >
      </p>
    </aside>

    <p>
      Here we describe how you can install our Background Removal plugin into
      your OBS Studio on Windows.
    </p>

    <section class="material-button-section">
      <div class="github-button">
        <a href={release.html_url} target="_blank" rel="noopener noreferrer">
          <GitHubMarkWhite viewBox="0 0 98 96" width="24" height="24" />
          <span>View on GitHub</span>
        </a>
      </div>
      <div class="video-tutorials-button">
        <a
          href={PLUGIN_TUTORIAL_YOUTUBE_COURSE_URL}
        >
          ▶︎ YouTube Tutorials
        </a>
      </div>
    </section>

    <h2>Installing version {release.tag_name}</h2>

    <ol>
      <li>
        <strong>Download ZIP:</strong> The latest release of our plugin is {
          release.tag_name
        }.<br />
        Please download our plugin from the GitHub Release of version {
          release.tag_name
        }.<br />
        <dl>
          <dt>
            <strong>📝 The {release.tag_name} release page on GitHub:</strong>
          </dt>
          <dd><a href={release.html_url}>{release.html_url}</a></dd>
          <dt><strong>⬇️ Direct download link for Windows x64 ZIP:</strong></dt>
          <dd>
            <a href={assetX64.browser_download_url}
              >{assetX64.browser_download_url}</a
            >
          </dd>
        </dl>
      </li>
      <li>
        <strong>Extract ZIP File:</strong><br />
        The ZIP file you downloaded has some files and a folder named <code
          >obs-backgroundremoval</code
        >. This folder is the bundle of our plugin, and you need to place this
        folder where your OBS Studio can find it. Please read README.txt in the
        ZIP file and follow the instructions to install our plugin.
      </li>
      <li>
        <strong
          >Place obs-backgroundremoval Folder into
          C:/ProgramData/obs-studio/plugins</strong
        ><br />
        <dl>
          <dt><strong>📝 How to install plugin on Windows.txt:</strong></dt>
          <dd>
            A text file to guide you through the installation process on
            Windows.
          </dd>
          <dt><strong>⤵️ Install Into Here:</strong></dt>
          <dd>A shortcut to <code>C:/ProgramData/obs-studio/plugins</code>.</dd>
          <dt><strong>📂 obs-backgroundremoval:</strong></dt>
          <dd>The plugin itself.</dd>
        </dl>
        ProgramData is a system folder that stores application data such as databases
        and plugins. To open this folder, press <kbd>Win + R</kbd>, and type <code
          >C:/ProgramData</code
        >, then press Enter. File Explorer will open in ProgramData. In this
        folder, please create a
        <code>obs-studio/plugins</code> subfolder and place the <code
          >obs-backgroundremoval</code
        > folder inside it. When you finish this step, you have <code
          >C:/ProgramData/obs-studio/plugins/obs-backgroundremoval</code
        >.
      </li>
      <li>
        <strong>Restart OBS Studio:</strong><br />
        Once you have installed a new plugin into OBS Studio, you need to restart
        OBS Studio for these changes to take effect. Open the effect filters list of
        any video sources to check if there are Background Removal and Low-Light Enhancement
        filters available.
      </li>
      <li>
        <strong
          >Set up our plugin as described in <a
            href={withTrailingSlash(joinURL(BASE_URL, "usage/"))}>Usage page</a
          ></strong
        >:<br />
        Background Removal and Low-Light Enhancement filters can be applied to any
        video sources or groups in OBS Studio. If you don't see any of our filters,
        please check the Plugin Manager in the Tools menu.
        <a href="https://github.com/royshil/obs-backgroundremoval/discussions"
          >GitHub Discussions</a
        > may be helpful to solve your problem as well.
      </li>
    </ol>

    <p>
      <a href={joinURL(BASE_URL, "/")}>Back to the top page</a>
    </p>
  </main>
</Layout>
